@model Raje.Models.Serie

<form enctype="multipart/form-data" asp-controller="Series" asp-action="Avaliar" method="post">
    <input asp-for="@Model.Id" id="Id" name="Id" class="form-control" hidden />
    <br />
    <br />
    <div class="border p-3">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <p>&nbsp;</p>
                <img src="~/images/@Model.ImagemURL" alt="@Model.ImagemURL" style="width: 300px; height: 500px" />
                <p>&nbsp;</p>
            </div>
            <div class="col-lg-6">
                <p>&nbsp;</p>
                <center><h2 class="text-info pl-3">@Model.Titulo</h2></center>
                <p>&nbsp;</p>
                <font size="2">
                    <p align=justify>
                        <b>Diretor(es):</b> @Model.Diretor<br>
                        <b>Elenco:</b> @Model.Elenco<br>
                        <b>País:</b> @Model.Pais<br>
                        <b>Ano:</b> @Model.Ano<br>
                        <b>Número de Temporadas:</b> @Model.NumeroTemporadas<br>
                        <b>Resumo:</b> @Model.Sinopse
                    </p>
                    &nbsp;
                </font>
                <table>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nota:&nbsp;</label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input type="number" id="Nota" name="Nota" min="1" max="10" placeholder="Nota" class="form-control">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                &nbsp;&nbsp;<a asp-controller="Home" asp-action="Index" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Voltar</a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label>Comentário:&nbsp;</label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input type="text" id="Comentario" name="Comentario" placeholder="Comentário" class="form-control" />
                            </div>
                        </th>

                        <th>
                            <div class="form-group">
                                &nbsp;&nbsp;<button id="Avaliar" type="submit" class="btn btn-primary">Comentar</button>
                            </div>
                        </th>
                    </tr>
                </table>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
    <div class="border p-3">
        <div class="row">
            <div class="col-lg-6">
                <p>&nbsp;</p>
                <center><h2 class="text-info pl-3">Comentários</h2></center>
                <p>&nbsp;</p>
                <br />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });
    </script>
}