@model Raje.Models.Serie

<form method="post">
    <input asp-for="Id" hidden />
    <br />
    <br />
    <div class="border p-3">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <p>&nbsp;</p>
                <img src="~/images/@Model.ImagemURL" alt="@Model.ImagemURL" style="width: 300px; height: 500px" />
                <p>&nbsp;</p>
            </div>
            <div class="col-lg-6">
                <p>&nbsp;</p>
                <center><h2 class="text-info pl-3">@Model.Titulo</h2></center>
                <p>&nbsp;</p>
                <font size="2">
                    <p align=justify>
                        <b>Diretor(es):</b> @Model.Diretor<br>
                        <b>Elenco:</b> @Model.Elenco<br>
                        <b>País:</b> @Model.Pais<br>
                        <b>Ano:</b> @Model.Ano<br>
                        <b>Número de Temporadas:</b> @Model.NumeroTemporadas<br>
                        <b>Resumo:</b> @Model.Sinopse
                    </p>
                    <p />
                </font>
                <br />
                <a asp-controller="Home" asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Voltar</a>
                <br />
                <center><a asp-action="Upsert" asp-route-id="@Model.Id" class="btn btn-info">Adicionar Comentário</a></center>
            </div>
        </div>
    </div>
    <div class="border p-3">
        <div class="row">
            <div class="col-lg-6">
                <p>&nbsp;</p>
                <center><h2 class="text-info pl-3">Comentários</h2></center>
                <p>&nbsp;</p>
                <br />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });
    </script>
}