@model Raje.Models.ViewModels.ListagemViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility

<form enctype="multipart/form-data" asp-controller="Series" asp-action="Avaliar" method="post">
    <input asp-for="@Model.Serie.Id" id="Id" name="Id" class="form-control" hidden />
    <br />
    <br />
    <div class="border p-3">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <p>&nbsp;</p>
                <img src="~/images/@Model.Serie.ImagemURL" alt="@Model.Serie.ImagemURL" style="width: 300px; height: 500px" />
                <p>&nbsp;</p>
            </div>
            <div class="col-lg-6">
                <p>&nbsp;</p>
                <center><h2 class="text-info pl-3">@Model.Serie.Titulo</h2></center>
                <p>&nbsp;</p>
                <font size="2">
                    <p align=justify>
                        <b>Diretor(es):</b> @Model.Serie.Diretor<br>
                        <b>Elenco:</b> @Model.Serie.Elenco<br>
                        <b>País:</b> @Model.Serie.Pais<br>
                        <b>Ano:</b> @Model.Serie.Ano<br>
                        <b>Número de Temporadas:</b> @Model.Serie.NumeroTemporadas<br>
                        <b>Resumo:</b> @Model.Serie.Sinopse
                    </p>
                    &nbsp;
                </font>
                <table>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nota:&nbsp;</label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input type="number" id="Nota" name="Nota" min="1" max="10" placeholder="Nota" class="form-control">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                &nbsp;&nbsp;<a asp-controller="Home" asp-action="Index" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Voltar</a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label>Comentário:&nbsp;</label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input type="text" id="Comentario" name="Comentario" placeholder="Comentário" class="form-control" />
                            </div>
                        </th>

                        <th>
                            <div class="form-group">
                                &nbsp;&nbsp;<button id="Avaliar" type="submit" class="btn btn-primary">Comentar</button>
                            </div>
                        </th>
                    </tr>
                </table>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
    <div class="border p-3">
        <div class="row">
            <div class="col-lg-12">
                <center><h4 class="text-info pl-3">Comentários</h4></center>
                <div class="row">
                    @if (Model.Avaliacoes.Any())
                    {
                        @foreach (var avaliacao in Model.Avaliacoes)
                        {
                            <div class="col-lg-12 border-bottom p-3">
                                <table>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <a asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@avaliacao.User.Id"><img src="~/images/@avaliacao.User.ImagemURL" alt="@avaliacao.User.ImagemURL" style="width: 100px; height: 130px" /></a>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <font size="2">
                                                &nbsp;
                                                <p align=justify>
                                                    <b>Nome:</b> @avaliacao.User.FullName<br>
                                                    <b>Nota:</b> @avaliacao.Nota<br>
                                                    <b>Comentário:</b> @avaliacao.Comentario
                                                </p>
                                                &nbsp;
                                            </font>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <p></p>
                        }
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <p>&nbsp;</p>
                            <center><h5>Série Não Possui Comentários!</h5></center>
                            <p>&nbsp;</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });
    </script>
}