@model Raje.Models.ViewModels.ListagemViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility

@{
    ViewData["Title"] = "Usuário";
}

<form enctype="multipart/form-data" asp-controller="ApplicationUser" asp-action="AdicionarAmigo" method="post">
    <input asp-for="@Model.User.Id" id="Id" name="Id" class="form-control" hidden />
    <br />
    <br />
    <div class="border p-3">
        <center>
            <div class="row">
                <div class="col-lg-2">
                    <p>&nbsp;</p>
                    <img src="~/images/@Model.User.ImagemURL" alt="@Model.User.ImagemURL" style="width: 160px; height: 220px" />
                    <p></p>
                </div>
                <div class="col-lg-3">
                    <p>&nbsp;</p>
                    <h4>@Model.User.FullName</h4>
                    <font size="2">
                        <p align="justify" style="width: 210px">
                            <b>Aniversário:</b> @Model.User.Birthdate.ToString("dd/MM/yyyy")<br>
                            <b>E-mail:</b> @Model.User.Email<br>
                            <b>Celular:</b> @Model.User.PhoneNumber<br>
                            <b>Cidade:</b> @Model.User.City<br>
                            <b>Estado:</b> @Model.User.State<br>
                        </p>
                    </font>
                    <p></p>
                    <a href="javascript:history.back()" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Voltar</a>

                    @if (@Model.User.Id != UserManager.GetUserId(User) && !Model.Amigos.Select(user => user.Id).Contains(UserManager.GetUserId(User)))
                    {
                        <button id="AdicionarAmigo" onclick="AdicionarAmigo()" type="submit" class="btn btn-primary">Adicionar</button>
                    }
                    <p>&nbsp;</p>
                </div>
                <div class="border-left p-3 col-lg-7">
                    @if (Model.Amigos.Any())
                    {
                        <div class="row">
                            <div class="col-lg-12"><h3>@Model.Amigos.Count() Amigo(s)</h3></div>
                            @foreach (var user in Model.Amigos.Take(3))
                            {
                                <div class="col-lg-4">
                                    <p></p>
                                    <center><h6>@user.FullName</h6></center>
                                    <a asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@user.Id"><img src="~/images/@user.ImagemURL" alt="@user.ImagemURL" style="width: 170px; height: 190px" /></a>
                                    <p></p>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12"><h3>Amigos</h3></div>
                            <div class="col-lg-12">
                                <p>&nbsp;</p>
                                <center><h5>Usuário Não Possui Amigos!</h5></center>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    }

                    @if (Model.Amigos.Count() > 3)
                    {
                        <div class="col-lg-12">
                            <p></p>
                            <center><a asp-controller="ApplicationUser" asp-action="Amigos" asp-route-id="@Model.User.Id">Ver Mais</a></center>
                        </div>
                    }
                </div>
            </div>

        </center>
    </div>
    <div class="border p-3">
        <div class="row">
            <div class="col-lg-12">
                <center><h4 class="text-info pl-3">Comentários</h4></center>
                <div class="row">
                    @if (Model.Avaliacoes.Any())
                    {
                        @foreach (var avaliacao in Model.Avaliacoes.Where(avalicao => avalicao.Filme != null))
                        {
                            <div class="col-lg-12 border-bottom p-3">
                                <table>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <a asp-controller="Filmes" asp-action="Details" asp-route-id="@avaliacao.Filme.Id"><img src="~/images/@avaliacao.Filme.ImagemURL" alt="@avaliacao.Filme.ImagemURL" style="width: 100px; height: 130px" /></a>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <font size="2">
                                                &nbsp;
                                                <p align=justify>
                                                    <b>Filme:</b> @avaliacao.Filme.Titulo<br>
                                                    <b>Diretor:</b> @avaliacao.Filme.Diretor<br>
                                                    <b>Nota:</b> @avaliacao.Nota<br>
                                                    <b>Comentário:</b> @avaliacao.Comentario
                                                </p>
                                                &nbsp;
                                            </font>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <p></p>
                        }
                        @foreach (var avaliacao in Model.Avaliacoes.Where(avalicao => avalicao.Serie != null))
                        {
                            <div class="col-lg-12 border-bottom p-3">
                                <table>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <a asp-controller="Series" asp-action="Details" asp-route-id="@avaliacao.Serie.Id"><img src="~/images/@avaliacao.Serie.ImagemURL" alt="@avaliacao.Serie.ImagemURL" style="width: 100px; height: 130px" /></a>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <font size="2">
                                                &nbsp;
                                                <p align=justify>
                                                    <b>Série:</b> @avaliacao.Serie.Titulo<br>
                                                    <b>Temporadas:</b> @avaliacao.Serie.Diretor<br>
                                                    <b>Diretor:</b> @avaliacao.Serie.Diretor<br>
                                                    <b>Nota:</b> @avaliacao.Nota<br>
                                                    <b>Comentário:</b> @avaliacao.Comentario
                                                </p>
                                                &nbsp;
                                            </font>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <p></p>
                        }
                        @foreach (var avaliacao in Model.Avaliacoes.Where(avalicao => avalicao.Livro != null))
                        {
                            <div class="col-lg-12 border-bottom p-3">
                                <table>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <a asp-controller="Livros" asp-action="Details" asp-route-id="@avaliacao.Livro.Id"><img src="~/images/@avaliacao.Livro.ImagemURL" alt="@avaliacao.Livro.ImagemURL" style="width: 100px; height: 130px" /></a>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <font size="2">
                                                &nbsp;
                                                <p align=justify>
                                                    <b>Livro:</b> @avaliacao.Livro.Titulo<br>
                                                    <b>Autor:</b> @avaliacao.Livro.Autores<br>
                                                    <b>Nota:</b> @avaliacao.Nota<br>
                                                    <b>Comentário:</b> @avaliacao.Comentario
                                                </p>
                                                &nbsp;
                                            </font>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <p></p>
                        }
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <p>&nbsp;</p>
                            <center><h5>Usuário Não Possui Comentários!</h5></center>
                            <p>&nbsp;</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });

        function AdicionarAmigo() {
            alert("Pedido de amizade enviado com sucesso!");
            form.submit();
        }
    </script>
}