@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IdentityUser user;

@using Raje.Utility


@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model Raje.Models.ViewModels.ListagemViewModel

<div class="container">
    <br />
    <div class="text-center">
        <div class="row">

            @foreach (var user in Model.Users.Where(user => user.Id.Equals(user.Id)))
            {
                <br />
                <div class="col-lg-4">
                    <p>&nbsp;</p>
                    <img src="~/images/@user.ImagemURL" alt="@user.ImagemURL" style="width: 200px; height: 230px" />
                    <h2>@user.FullName</h2>
                    <div class="col-lg-11">
                        <font size="2">
                            <p align=justify>
                                <b>Birthdate:</b> @user.Birthdate<br>
                                <b>City:</b> @user.City<br>
                                <b>State:</b> @user.State<br>
                            </p>
                            <p />
                        </font>
                    </div>
                </div>
                <p />

            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}
