@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility


@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model Raje.Models.ViewModels.ListagemViewModel

<div class="container">
    <br />
    <div class="text-center">
        <div class="row">
            @foreach (var livro in Model.Livros)
            {

            <div class="col-lg-4">
                <img src="~/images/@livro.ImagemURL" alt="@livro.ImagemURL" style="width: 200px; height: 230px" />
                <b><p>Livro</p></b>
                <h2>@livro.Titulo</h2>
                <font size="2">
                    <p align=justify>
                        <b>Autor(es):</b> @livro.Autores<br>
                        <b>País:</b> @livro.Pais<br>
                        <b>Ano:</b> @livro.Ano<br>
                        <b>Resumo:</b> @livro.Sinopse
                    </p>
                </font>
            </div>

            }
            @foreach (var filme in Model.Filmes)
            {
        <div class="col-lg-4">
            <img src="~/images/@filme.ImagemURL" alt="@filme.ImagemURL" style="width: 200px; height: 230px" />
            <b><p>Filme</p></b>
            <h2>@filme.Titulo</h2>
            <font size="2">
                <p align=justify>
                    <b>Diretor(es):</b> @filme.Diretor<br>
                    <b>Elenco:</b> @filme.Elenco<br>
                    <b>País:</b> @filme.Pais<br>
                    <b>Ano:</b> @filme.Ano<br>
                    <b>Resumo:</b> @filme.Sinopse
                </p>
            </font>
        </div>

            }
            @foreach (var series in Model.Series)
            {

        <div class="col-lg-4">
            <img src="~/images/@series.ImagemURL" alt="@series.ImagemURL" style="width: 200px; height: 230px" />
            <b><p>Série</p></b>
            <h2>@series.Titulo</h2>
            <font size="2">
                <p align=justify>
                    <b>Diretor(es):</b> @series.Diretor<br>
                    <b>Elenco:</b> @series.Elenco<br>
                    <b>País:</b> @series.Pais<br>
                    <b>Ano:</b> @series.Ano<br>
                    <b>Número de Temporadas:</b> @series.NumeroTemporadas<br>
                    <b>Resumo:</b> @series.Sinopse
                </p>
            </font>
        </div>

            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}
