@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility


@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model Raje.Models.ViewModels.ListagemViewModel

<div class="container">
    <br />
    <div class="text-center">
        @if (Model.Users.Any())
        {
            <div class="row border p-3 ">
                <div class="col-lg-12"><h2>Sugestões de Amizade</h2></div>
                @foreach (var user in Model.Users.Take(3))
                {
                    <br />
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3">
                        <h4>@user.FullName</h4>
                        <a asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@user.Id"><img src="~/images/@user.ImagemURL" alt="@user.ImagemURL" style="width: 170px; height: 190px" /></a>
                        <p></p>
                        <a asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@user.Id" class="btn btn-primary border-top-10">Ver Perfil</a>
                        <p></p>
                    </div>
                    <p />
                }
            </div>
        }
        <div class="row">
            @foreach (var livro in Model.Livros)
            {
                <br />
                <div class="col-lg-3">
                    <p>&nbsp;</p>
                    <h4>@livro.Titulo</h4>
                    <a asp-controller="Livros" asp-action="Details" asp-route-id="@livro.Id"><img src="~/images/@livro.ImagemURL" alt="@livro.ImagemURL" style="width: 200px; height: 230px" /></a>
                    <p><b>Livro</b></p>
                </div>
                <p />

            }
            @foreach (var filme in Model.Filmes)
            {
                <br />
                <div class="col-lg-3">
                    <p>&nbsp;</p>
                    <h4>@filme.Titulo</h4>
                    <a asp-controller="Filmes" asp-action="Details" asp-route-id="@filme.Id"><img src="~/images/@filme.ImagemURL" alt="@filme.ImagemURL" style="width: 200px; height: 230px" /></a>
                    <p><b>Filme</b></p>
                    <div class="col-lg-11"></div>
                </div>
                <p />

            }
            @foreach (var series in Model.Series)
            {
                <br />
                <div class="col-lg-3">
                    <p>&nbsp;</p>
                    <h4>@series.Titulo</h4>
                    <a asp-controller="Series" asp-action="Details" asp-route-id="@series.Id"><img src="~/images/@series.ImagemURL" alt="@series.ImagemURL" style="width: 200px; height: 230px" /></a>
                    <p><b>Série</b></p>
                    <div class="col-lg-11"></div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}