@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility


@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model Raje.Models.ViewModels.ListagemViewModel

<div class="container">
    <br />
    <div class="text-center border p-3">
        <div class="row">
            <div class="col-lg-12"><center><h2 class="text-info pl-3">Sugestões de Amizade</h2></center></div>
            @foreach (var user in Model.Users)
            {
        <div class="col-lg-4">
            <img src="~/images/@user.ImagemURL" alt="@user.ImagemURL" style="width: 200px; height: 230px" />
            <h4>@user.FullName</h4>
            <td>
                <a asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@user.Id" class="btn btn-primary">Ver Perfil</a>
                <p>&nbsp;</p>
            </td>
        </div>
                <p>&nbsp;</p>
            }
            <br />
            <p>&nbsp;</p>
            <br />
            <div class="border-top p-3 col-lg-12"><center><h2 class="text-info pl-3">Livros</h2></center></div>
            <p>&nbsp;</p>
            @foreach (var livro in Model.Livros)
            {
                <br />
                <div class="col-lg-3">
                    <img src="~/images/@livro.ImagemURL" alt="@livro.ImagemURL" style="width: 200px; height: 230px" />
                    <h2>@livro.Titulo</h2>
                    <td>
                        <a asp-controller="Livros" asp-action="Details" asp-route-id="@livro.Id" class="btn btn-primary">Sobre o Livro</a>
                        <p>&nbsp;</p>
                    </td>
                </div>
                <p>&nbsp;</p>
            }
            <br />
            <p>&nbsp;</p>
            <br />
            <div class="border-top p-3 col-lg-12"><center><h2 class="text-info pl-3">Filmes</h2></center></div>
            @foreach (var filme in Model.Filmes)
            {
        <div class="col-lg-3">
            <img src="~/images/@filme.ImagemURL" alt="@filme.ImagemURL" style="width: 200px; height: 230px" />
            <h4>@filme.Titulo</h4>
            <td>
                <a asp-controller="Filmes" asp-action="Details" asp-route-id="@filme.Id" class="btn btn-primary">Sobre o Filme</a>
                <p>&nbsp;</p>
            </td>
        </div>
                <p>&nbsp;</p>
            }
            <br />
            <p>&nbsp;</p>
            <br />
            <div class="border-top p-3 col-lg-12"><center><h2 class="text-info pl-3">Séries</h2></center></div>
            @foreach (var series in Model.Series)
            {
        <div class="col-lg-3">

            <img src="~/images/@series.ImagemURL" alt="@series.ImagemURL" style="width: 200px; height: 230px" />
            <h4>@series.Titulo</h4>
            <td>
                <a asp-controller="Series" asp-action="Details" asp-route-id="@series.Id" class="btn btn-primary">Sobre a Série</a>
                <p>&nbsp;</p>
            </td>
        </div>
                <p>&nbsp;</p>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}
