@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility


@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model Raje.Models.ViewModels.ListagemViewModel

<div class="container">
    <br />
    <div class="text-center">
        <div class="row">
            @foreach (var livro in Model.Livros)
            {
                <br />
                <div class="col-lg-4">
                    <p>&nbsp;</p>
                    <b> <p>Livro</p></b>
                    <img src="~/images/@livro.ImagemURL" alt="@livro.ImagemURL" style="width: 200px; height: 230px" />
                    <h2>@livro.Titulo</h2>
                        <td>
                            <a asp-controller="Livros" asp-action="Details" asp-route-id="@livro.Id" class="btn btn-primary">Ver Livro</a>
                        </td>
                </div>
                <p />

            }
            @foreach (var filme in Model.Filmes)
            {
                <br />
                <div class="col-lg-4">
                    <p>&nbsp;</p>
                    <img src="~/images/@filme.ImagemURL" alt="@filme.ImagemURL" style="width: 200px; height: 230px" />
                    <h2>@filme.Titulo</h2>
                        <td>
                            <a asp-controller="Filmes" asp-action="Details" asp-route-id="@filme.Id" class="btn btn-primary">Ver Filme</a>
                        </td>
                </div>
                <p />

            }
            @foreach (var series in Model.Series)
            {
                <br />
                <div class="col-lg-4">
                    <p>&nbsp;</p>
                    <h>@series.Titulo</h>
                    <img src="~/images/@series.ImagemURL" alt="@series.ImagemURL" style="width: 200px; height: 230px" />
                        <td>
                            <a asp-controller="Series" asp-action="Details" asp-route-id="@series.Id" class="btn btn-primary">Ver Série</a>
                        </td>
                </div>


            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}
