@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility


@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model Raje.Models.ViewModels.ListagemViewModel

<div class="container">
    <br />
    <div class="text-center">
        <div class="row">
            @foreach (var prod in Model.HomeVM.Products)
            {
                <partial name="_IndividualProductCard" model="prod" />
            }
        </div>
        <div class="row">
            @foreach (var livro in Model.Livros)
            {

                <div class="col-lg-4">
                    <img src="~/images/@livro.ImagemURL" alt="@livro.ImagemURL" style="width: 100px; height: 130px" />
                    <p>Livro</p>
                    <h2>@livro.Titulo</h2>
                    <p>Autor(es): @livro.Autores</p>
                    <p>País: @livro.Pais</p>
                    <p>Ano: @livro.Ano</p>
                    <p>Resumo: @livro.Sinopse</p>
                </div>

            }
            @foreach (var filme in Model.Filmes)
            {
                <div class="col-lg-4">
                    <img src="~/images/@filme.ImagemURL" alt="@filme.ImagemURL" style="width: 100px; height: 130px" />
                    <p>Filme</p>
                    <h2>@filme.Titulo</h2>
                    <p>Diretor(es): @filme.Diretor</p>
                    <p>Elenco: @filme.Elenco</p>
                    <p>País: @filme.Pais</p>
                    <p>Ano: @filme.Ano</p>
                    <p>Resumo: @filme.Sinopse</p>
                    
                </div>

            }
            @foreach (var series in Model.Series)
            {

                <div class="col-lg-4">
                    <img src="~/images/@series.ImagemURL" alt="@series.ImagemURL" style="width: 100px; height: 130px" />
                    <p>Série</p>
                    <h2>@series.Titulo</h2>
                    <p>Diretor(es): @series.Diretor</p>
                    <p>Elenco: @series.Elenco</p>
                    <p>País: @series.Pais</p>
                    <p>Ano: @series.Ano</p>
                    <p>Número de Temporadas: @series.NumeroTemporadas</p>
                    <p>Resumo: @series.Sinopse</p>
                </div>

            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}
